*{
      padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    border:4px solid #23681c;
    background-color: #ffffff;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow:2px 3px 8px #000000 ;
    width: 300px;
    height:auto ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
