*{
      padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    border:4px solid #342286;
    background-color: #ffffff;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow:2px 3px 8px #000000 ;
    width: 300px;
    height:auto ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
button{
    background-color: #000000;
    color: #ffffff;

}
button:hover{
    cursor: pointer;
    background-color: #452286;
}
